@import "tailwindcss";

body {
  @apply bg-[#070E1C] ;
}

.aside {
  @apply border-r border-r-black
}

@layer utilities {
/* فایل globals.css یا یک فایل CSS سفارشی */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #4A90E2;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}
}